<!-- contact/contact_form.html -->

{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/contact.css">
<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h1¥>お問い合わせ</h1>
      	  <form class<="contact-form", align="center">{% csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="btn btn-default white-blue", align="center">送信</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% load static %}
