<html>
<head>
<title>></title>
<head>
<body background="roadweb_kabe1.gif" text="black"  link="tomato" vlink="red" alink="hotpink">
<h1 align="center">About me</h1>
<hr size=4 width=90% align="center" color="orangered">
<center>
    <p>
    ハンドルネーム:yasama
    </p>
<h2>コメント</h2>
    <p>
    全力に真面目に、人生楽しくがモットーです。
    </p>
<h2>base_data</h2>
    <p>
    出身地：愛知県<br>
    性別: 男<br>
    趣味: 読書、音楽観賞<br>
    特技: ギター弾き語り<br>
    </p>

<h2>work</h2>
<p>
今の仕事: ドラッグストアの店員<br>
勉強中: Webライティング、プログラミング（少々）、TOEIC<br>
職歴:小売、接客業（３年）
</p>
<br><br><br><br><br>
<a href="{% url 'blog:index' %}">[ホーム]</a>
</center>
</body>
</html>
